@model MertCanErdemBeltekSinav.Models.Genders

@{
    ViewData["Title"] = "Detaylar";
}

<h1>Cinsiyet Detayları</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Adı
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Güncelle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
