
<div class="text-center">
    <h1 class="display-4" style="color: blue !important;">Mert Can Erdem</h1>
    <p style="font-size:3rem; color:green;"><b>Beltek</b> <i style="color:red;">Sınav</i></p>
</div>
