@model IEnumerable<MertCanErdemBeltekSinav.Models.Categories>

<h1>Kategoriler</h1>

<p>
    <a asp-action="Create">Yeni kategori oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Kategoriler
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Güncele</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detayı görüntüle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>