@model MertCanErdemBeltekSinav.Models.Users

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tam Adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Şifre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            Cinsiyet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye geri dön</a>
    </form>
</div>