@model MertCanErdemBeltekSinav.Models.Products

<h1>Ürün ekle</h1>

<hr />

<link href="~/js/dropify/css/dropify.min.css" rel="stylesheet">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Kategori seçin</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductTitle" class="control-label">Ürün Başlığı</label>
                <input asp-for="ProductTitle" class="form-control" />
                <span asp-validation-for="ProductTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Ürün Adı</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label">Ürün açıklaması</label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label">Ürün resmi</label>
                <input type="file" id="ProductImage" name="ProductImage" accept="image/*,video/*" class="dropify-tr" @(Model != null ? "data-default-file='/WebImage/Images/@Model.ProductImage'" : "" ) />
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label">Ürün fiyatı</label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye geri dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/dropify/js/dropify.min.js"></script>

    <script>
        $(document).ready(function () {
            // Translated
            $('.dropify-tr').dropify({
                messages: {
                    default: 'Bir dosyayı buraya sürükleyip bırakın veya tıklayın',
                    replace: 'Bir dosyayı sürükleyip bırakın veya değiştirmek için tıklayın',
                    remove: 'Kaldır',
                    error: 'Dosya boyutu çok fazla'
                }
            });
        });
    </script>
}